a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  .userNavbar {
    background-color: #449866 !important;
    box-shadow: 0px 10px 8px 1px #00000052;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 1;
  }
  .userNavLogo {
    color: white !important;
    font-weight: 500 !important;
    margin-left: 2% !important;
    font-size: 30px !important;
  }
  .ulHolder {
    width: fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
    width: 100% !important;
  }
  .userNavLink {
    color: white !important;
  }
  .userDropdownMenu {
    background-color: #136d37 !important;
    width: 100% !important;
    text-align: center;
  }
  .userDropdownLink:hover {
    background-color: #599671 !important;
  }
  .userDropdownLink {
    color: white !important;
  }
  .userToggler {
    color: aliceblue !important;
    fill: aliceblue !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5'/%3E%3C/svg%3E") !important;
  }
  .social-logo-container-ul {
    display: flex;
    margin-top: 10px;
  }
  .social-logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
  }
  .sociallogo {
    height: 35px;
    width: auto;
    margin-right: 10px;
    fill: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .sociallogo:hover {
    fill: #136d37;
  }