.section2 {
    background-color: #e7e7e7;
    height: 100% !important;
    width: 100%;
    margin-bottom: 5%;
    position: block !important;
  }
.card-holder {
    /* position: relative; */
    display: flex !important;
    padding: 20px !important;
  
    max-width: 100% !important;
    /* background-color: blue; */
    flex-wrap: wrap !important;
    justify-content: space-around !important;
  }
  
  .card-inner {
    margin-bottom: 20px !important;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
  }
  
  .t-shirt-heading {
    text-align: center !important;
    font-size: 40px !important;
    background-color: #449866;
    color: white;
  }
  .t-shirt-heading2 {
    text-align: center !important;
    font-weight: bold !important;
    font-size: 25px !important;
    color: #484848;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    overflow: hidden;
  }
  
  .price {
    color: grey;
    font-size: 22px;
    margin-top: 5px !important;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #449866;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 0.5s ease;
  }
  
  .card button:hover {
    background-color: #136d37;
  }
  
  .cardImg {
    transition: 0.5s ease;
    width:auto; 
    height: 300px;
    overflow: hidden !important;
  }
  
  .headingTees {
    background-color: white !important;
  }
  .address {
    padding-left: 20px;
    text-align: start;
    margin-bottom: 5px !important;
  }